<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyl.dao.CompanyMapper">
    <resultMap id="BaseResultMap" type="com.hyl.model.CompanyBean">
        <constructor>
            <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="code" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="address" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="locationX" javaType="java.lang.Float" jdbcType="REAL"/>
            <arg column="locationY" javaType="java.lang.Float" jdbcType="REAL"/>
            <arg column="province" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>

    <sql id="Base_Column_List">
    id, name, code, address, locationX, locationY, province
  </sql>

    <select id="selectByProvince" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from openlayers_demo
        where province = #{province,jdbcType=VARCHAR}
    </select>
</mapper>